@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #2B2728;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}

p {
  color: #A88590;
  width: 340px;
  font-size: 15px;
  text-align: justify;
  line-height: 27px;
  text-justify: inter-word;
}

h2 {
  margin: 25px 0 25px 0;
  color: #F37B83;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #492D31;
  font-size: 10px;
}
