footer {
  margin: 8% 0 0 24%;
  padding-top: 3% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #362A2E;
}

.copyright {
  font-size: 13px;
  background-color: #362A2E;
  margin: 0 0 4% 4%;
}

@media screen and (max-width: 900px) {
  footer {
    margin-left: 0%;
    padding-top: 0% ;
  }
  
  .copyright {
    font-size: 11px;
    width: 80vw;
    margin: 8% 0 8% 0;
  }
}
